#
# .gitignore
# =============================================================================
# DNS Resolver Daemon (dnsresolvd). Version 0.9.9
# =============================================================================
# A daemon that performs DNS lookups for the given hostname
# passed in an HTTP request, with the focus on its implementation
# using various programming languages.
#
# This is the configuration of the project Git ignorables,
# i.e. objects that should not be put into the repository.
#

# === Object files ============================================================
*.o

# === Intermediates ===========================================================
*.pyc

# === Core dumps ==============================================================
*.core

# === Executables =============================================================
src/c/libmicrohttpd/dnsresolvd
src/c/libsoup/dnsresolvd
src/vala/dnsresolvd
src/genie/dnsresolvd
src/go/dnsresolvd

# === Node/Erlang modules =====================================================
node_modules/
erlang_modules/

# === Erlang builds (BEAMs) ===================================================
*.beam

# === JVM classes =============================================================
*.class

# vim:set nu et ts=4 sw=4:
